{% load static %} {% static "images" as baseurl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>available material</title>
    <link rel="stylesheet" href="{% static 'material.css' %}">
</head>

<body>
    <div class="title-box">
        <ul>
            <li><a href="">Home</a></li>
            {% if user.is_authenticated %}
            <li style="text-align: center; margin-top:auto;padding:14px 20px;"><a style="background-color: green;" href="accounts/profile">Hello, {{user.username}}</a></li>
            <li><a href="accounts/logout">logout</a></li>
            {% else %}
            <li><a href="accounts/signin">Log in!</a></li>
            <li><a href="accounts/register">Sign up!</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="heading">
        <h1 class="title">Study material for {{ccode}}</h1>
    </div>
    <div class="content-box">
        {% for mat in mats %}
        <div class="mat-container">
            <div class="img_container">
                <a href="{{mat.img.url}}" download><img class="img_mat" src="{{mat.img.url}}" alt=""></a>
            </div>
            <div class="details">
                <h4>Contributor: {{mat.uploader_name}}<br>{{mat.yr}}<br></h4>
            </div>

            <div class="upload-solution">
                <form action="upload_solution" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="mat_id" value="{{mat.id}}">
                    <input type="hidden" name="username" value="{{user.username}}">
                    <input type="hidden" name="ccode" value="{{ccode}}">
                    <input type="file" name="img_file" required>
                    <input type="submit" value="upload solution" class="solution_upload_button">
                </form>
                <h4 class="solution">solution:</h4>
                <div class="solution_view">
                    {% for s in sol %} {% if s.mat_id == mat.id %}
                    <a href="{{s.img.url}}" download><img class="img_sol" src="{{s.img.url}}" alt=""></a>
                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="mat_upload">

            <form action="upload_mat" method="POST">
                {% csrf_token %}
                <input type="file" name="img_file" required>
                <input type="hidden" name="ccode" value="{{ccode}}">
                <input type="hidden" name="username" value="{{user.username}}">
                <input type="submit" value="upload material" style="background-color: green; border-width:0; border-radius:20px; padding:10px; ">
            </form>

        </div>
        <hr>
        <div class="comment-container">
            <form action="addcomment" method="POST">
                {% csrf_token %}
                <p class="add-comment">Add Comment !</p>
                <input type="text" placeholder="Ask question for {{ccode}}" name="comment_data" class="comment-input text"><br>
                <input type="hidden" name="ccode" value="{{ccode}}">
                <input type="hidden" name="username" value="{{user.username}}">
                <input type="hidden" name="comment" value="{{comment}}">
                <input type="submit" class="comment-input submit" value="Comment">
            </form>
        </div>
        {% for c in comment %}
        <div class="comments_box">
            <div class="commenter-details">
                {{c.uploader_name}}:{{c.yr}}
                <br>
            </div>
            <div class="comment">
                {{c.comment}}
            </div>
        </div>
        {% endfor %}
        <div class="comments_box">
            <div class="commenter-details">
                admin:20-march-2020
                <br>
            </div>
            <div class="comment">
                please upload last year paper...
            </div>
        </div>
    </div>
</body>

</html>