{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singh up!</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>

<body>

    <div class="register-box">
        <h1> Sign Up Now</h1>
        <form action="register" method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="first name" class="input-box" required><br>
            <input type="text" name="last_name" placeholder="last name" class="input-box" required><br>
            <input type="text" name="username" placeholder="username" class="input-box" required><br>
            <input type="email" name="email" placeholder="email..." class="input-box" required><br>
            <input type="password" name="password1" placeholder="password" class="input-box" required><br>
            <input type="password" name="password2" placeholder="re-entre passowrd" class="input-box" required><br>
            <input type="submit" class="submit-button">
        </form>
    </div>
    <div>
        <h6>
            {% for message in messages %}
            <h6> {{message}}</h6>
            {% endfor %}
        </h6>
    </div>

</body>

</html>